body{
    height: 700px;
    width:100%;
	padding:0;
	margin:0;
	background-color: #eefaec;
    position: absolute;
} 
div{
	padding:0;
	margin:0;
}
#main{
	margin:0 auto;
	width:1100px;
	height:700px;
	background:url('./img/new-bg.jpeg') no-repeat;
	position:relative;
}
#intro-page-img{
	width: 1100px;
	height: 900px;
	position: absolute;
}
#intro-page-title{
	margin-left: 800px;
	margin-top: 330px;
	position: absolute;
}
#left-content{
	margin-top:80px;
	margin-left:100px;
	position:absolute;
	width:500px;
}
#right{
	position:absolute;
	width:400px;
	right:92px;
	margin-top:150px;
	z-index:1;
}
#video{
	background:#FE5;
	width:100%;
	height:300px;
}
#follow{
	position: relative;
	margin-top: 20px;
	height: 80px;
	width: 100%;
}
.follow_ic{
    margin-top: 0px;
    margin-right:5px;
	height: 32px;
	width: 32px;
	float: right;
}
#nav{
	height:100px;
	margin-top: 13px;
	width:100%;
	position:relative;
	/*background:url('./img/nav.png');*/
}
#nav-icons{
	z-index:3;
	position:absolute;
	right:30px;
}
#address{
	font-family: cursive;
	position: relative;
	margin-left: 120px;
	margin-top: -275px;
}
.cell{
	padding: 10px;
}
#gallery_table{
	margin-left:40px;
	margin-top: -450px;
	position: absolute;
}
.gallery{
	width: 500px;
	height: 585px;
	background: url('img/gallery_text.png');
}
.icon{
	height:32px;
	float:right;
	margin:12px 5px 18px 5px;
	width:32px;
	background:#8EA;
}
#sponsor_ic{
	background:url('./img/sponser_ic.png');
}
#sponsor-content{
	width: 500px;
	height: 585px;
	background: url('img/sponser.png');
}
#logo-content{
	margin: 117px 0 0 45px;
}
.logo{
	padding: 5px 5px 10px 5px;
}
#contact_ic{
	background:url('./img/icon_contact_us.png');
}
#ticket_ic{
	background:url('./img/icon_ticket.png');
}
#ticket-instruction{
	margin-top: -70px;
	width: 500px;
	height: 692px;
	background: url('./img/ticketing.png');
}
#ticket-instruction-content{
    width: 420px;
    margin: 140px 0 0 30px;
}
#ticket-instruction-content p{
    font-size: 12px;
    font-family: sans-serif;
    font-weight: thin;
}
#people_ic{
	background:url('./img/icon_synopsis.png');
}
#gallery_ic{
	/*width:32px;*/
	background:url('./img/icon_gallery3.png');
	background-repeat:no-repeat;
}
#aboutus_ic{
	/*width:32px;*/
	background:url('./img/icon_about_us.png');
	background-repeat:no-repeat;
}



/*************Drawings****************/
#arrow{
	position:absolute;
	height:0px;
	border-top:solid 50px #AA4433;
	border-bottom:solid 50px #AA4433;
	border-left:solid 50px #234;
	width:550px;
	box-shadow:10px 5px 10px;
	z-index:2;
}

/* yuxuan */
#left-content-img{
	position:absolute;
	width:400px;
	height:auto;
	margin: 50px 0 0 40px;
}
.sub-content{
	position:absolute;
}

/*fancybox gallery*/
.gallery-content{
	position: relative;
	top: 135px;
	left: 50px;
	width: 400px;
}
.fancybox_img{
	padding: 5px;
}

/*ticket page*/
#ticket-content{
	width: 1000px;
    height: 570px;
    overflow: hidden;
}
#ticket-content h2{
    text-align: center;
}
#menu ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#menu li{
	float: left;
	border: 1px solid #bbb;
	background-color: #ddf;
	border-bottom-width: 0;
	margin: 0 0.5em 0 0;
}
#menu li a{
	display: block;
	width: 80px;
	padding: 0 1em;
	color: black;
	text-align: center;
	text-decoration: none;
}
#seating-level{
	padding-top: 10px;
	border: 1px solid #bbb;
	clear: both;
}
#menu #selected{
	position: relative;
	top:1px;
	background-color: white;
}
