* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
}



/*
 * -- PURE FORM STYLES --
 * Style the form inputs and labels
 */
.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}

.pure-form input[type="email"], input[type="password"], input[type="text"] {
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    font-size: 100%;
    margin-bottom: 1em;
    width: 100%;
}

/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
.pure-button {
    background-color: grey;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
}

a.pure-button-primary {
    background: white;
    color: #000;
    border-radius: 5px;
    font-size: 120%;
}

.pure-button-floor {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.pure-button-floor.selected {
    background-color: black;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}


/*
 * -- MENU STYLES --
 * I want to customize how my . looks at the top of the page
 */

.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu.pure-menu-open {
    background: #2d3e50;
}
.pure-menu.pure-menu-open.pure-menu-fixed{ 
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
    font-size: 18px;
    background-color: rgba(190,190,190,0.9);
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #6FBEF3;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}


/*
 * -- SPLASH STYLES --
 * This is the blue top section that appears on the page.
 */

.splash-container {
    background: #000000;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 100%;
    margin-top: 33px;
    top: 0;
    left: 0;
    position: fixed !important;

}

.splash {
    /* absolute center .splash within .splash-container */
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px; left: 0; bottom: 125px; right: 0;
    text-align: center;
    text-transform: uppercase;
}

/* This is the main heading that appears on the blue section */
.splash-head {
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: 3px solid white;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

.film-bottom{
    margin-bottom: -100%;
}

/*
 * -- SIGNUP, LOGIN AND LOGOUT STYLES --
 *
 */
.form-header {
    text-align: center;
    font-size: 50px;
}

.signup-have-account {
    text-align: center;
    font-size: 18px;
}

.signup-error-box {
    width: 20%;
    height: 10%;
    text-align: center;
    margin: auto;
    color: red;
    /*border: 2px solid red;*/
    box-shadow: none;
    font-size: 100%;
}

.login-create-account {
    text-align: center;
    font-size: 18px;
}

.logout-create-account {
    text-align: center;
    font-size: 18px;
}

/*
 * -- PROFILE EDIT PAGE STYLES --
 *
 */

.profile-edit-display li{
    text-align: left;
    margin-left: 30%;
}

.profile-edit {
  text-align: center;
  font-size: 20px;

}

.profile-edit-input {
  font-size: 100%;
  text-align: left;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  font-size: 100%;
}

.date-picker {
   width: 216px;  
    height: auto;  
    margin: 5px auto 0;  
    font: 9pt Arial, sans-serif;  
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);  
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);  
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5); 
}
/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */

.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 100%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;

}

.content-wrapper-form {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 20%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;

}

/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
    color: white;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    color: #1f8dd6;
}
    .content-subhead i {
        margin-right: 7px;
    }

/* This is the class used for the dark-background areas. */
.ribbon {
    background: #2d3e50;
    color: #aaa;
}

/* This is the class used for the footer */
.footer {
    background: #111;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 16px;
    }
    /* We want to give the content area some more padding */
    .content {
        padding: 1em;
    }

    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .home-menu {
        text-align: left;
    }
        .home-menu ul {
            float: right;
        }

    /* We increase the height of the splash-container */
/*    .splash-container {
        height: 500px;
    }*/

    /* We decrease the width of the .splash, since we have more width
    to work with */
    .splash {
        width: 50%;
        height: 50%;
    }

    .splash-head {
        font-size: 250%;
        background-color: rgba(0, 0, 0, 0.55);
        border: none;
    }


    /* We remove the border-separator assigned to .l-box-lrg */
    .l-box-lrg {
        border: none;
    }

}

.icon-section {
    height: 8%;
    text-align: center;
}

.icon-section span {
    padding-left: 20px;
    padding-right: 20px;
}

.icon-section img {
   height: 130%;
   padding: 0px, 30px;
}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
    /* We increase the header font size even more */
    .splash-head {
        font-size: 300%;
    }
}

.error-display{
  text-align: center;
  font-size: 30px;
  margin-top: 10%;
  color: red;
}
/*
 * -- PROFILE STYLES --
 */
.profile-form-header{
    margin-top: -1%;
    text-align: center;
    font-size: 50px;
  
}

.profile-display li{
    text-align: left;
    font-size: 20px;
}

.admin-body {
    height: 100vh;
    background-color: black;
}

.div-inline{
    float:left; 
    margin-left:6%;
    margin-bottom: 5%;
} 

.div-inline li{
  font-size: 14px;
}

/*
 * -- ADMIN MANAGEMENT MENU STYLES --
 */

 @import url(http://fonts.googleapis.com/css?family=Capriola);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  padding: 0 7% 0 7%;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  text-align: center;
  font-family: Capriola, Helvetica, sans-serif;
}

#cssmenu ul{
    border-bottom: 1px solid;
    border-color: #ccc;
    text-align: center;
}

#cssmenu {
  height: 59px;
  padding-bottom: 4px;
  text-align: center;

}
#cssmenu.align-right {
  float: right;
}
#cssmenu.align-right ul li {
  float: right;
  margin-right: 0;
}
#cssmenu.align-right ul li:first-child,
#cssmenu.align-right ul li:first-child > a {
  border-bottom-right-radius: 3px;
}
/*#cssmenu #bg-one,
#cssmenu #bg-two,
#cssmenu #bg-three,
#cssmenu #bg-four {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
#cssmenu #bg-one {
  height: 10px;
  background: #0f71ba;
}
#cssmenu #bg-two {
  height: 59px;
  z-index: 2;
  background: url('images/bg.png');
}
#cssmenu #bg-three {
  bottom: 4px;
  height: 55px;
  z-index: 3;
  background: #222222;
  background: -moz-linear-gradient(top, #555555 0%, #222222 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(100%, #222222));
  background: -webkit-linear-gradient(top, #555555 0%, #222222 100%);
  background: -o-linear-gradient(top, #555555 0%, #222222 100%);
  background: -ms-linear-gradient(top, #555555 0%, #222222 100%);
  background: linear-gradient(to bottom, #555555 0%, #222222 100%);
}
#cssmenu #bg-four {
  bottom: 4px;
  height: 55px;
  z-index: 4;
  background: url('images/bg.png');
}*/
#cssmenu ul {
  height: 59px;
}
#cssmenu ul li {
  float: left;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  z-index: 5;
}
#cssmenu ul li a {
  padding: 24px 12px 0px 12px;
  margin-bottom: 10%;
  margin-top: -10%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #000;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
#cssmenu ul li:nth-child(n),
#cssmenu ul li:nth-child(n) > a {
  border-radius: 5px;
}
#cssmenu ul li:hover,
#cssmenu ul li.active {
  background: #0f71ba;
  background: -moz-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3fa4f0), color-stop(100%, #0f71ba));
  background: -webkit-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
  background: -o-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
  background: -ms-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #cccccc 100%);
}
#cssmenu ul li a:hover,
#cssmenu ul li.active > a {
  background: url('img/management_bg.png');
  color: #000000;
  font-weight: 500;
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.admin-long-table {
  margin-top: 5%; 
  width:90%; 
  max-width:90%; 
  margin-left:5%;
  margin-right:5%; 
  text-align:center 
}

.admin-short-table {
  margin-top: 5%; 
  width:50%; 
  max-width:50%; 
  margin-left:25%;
  margin-right:25%; 
  text-align:center 
}

li.stars, li.stars>* {
    display: inline-block;
    background: url(http://i.imgur.com/fiVel61.png) 0 -14px repeat-x;
    width: 140px;
    height: 16px;
}
li.stars>*{
    max-width:140px;
    background-position: 0 0;
}

.button-disabled {
  background-color: grey;
  cursor: not-allowed;
}