input{
	width:25px;
	text-align:center;
}

.button-success{
	width:auto;
}

.pure-u-1-12{
	margin-top:5%;
}

.info-box{
	background-color: rgba(255, 255, 255, 0.6);
	color: white;
}

.summary{
	background: rgba(0, 0, 0, 0.8); 
	width:72%; 
	padding:10px;
}
